/* adds more space between nav links */
.navLink {
  padding: 0 1rem !important;
  text-decoration: none; /* removes underline from links */
  transition: color 0.2s; /* smooth color transition on hover */
}
